<div class="row">
    <img src="../../assets/images/logo.png" alt="Wayfair Logo" class="header-logo center-block" />
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Wayfair</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a routerLink="/plugin/warehouse">{{ 'warehouse_menu' | translate:lang }}</a></li>
                <li><a routerLink="/plugin/settings">{{ 'settings_menu' | translate:lang }}</a></li>
                <li><a routerLink="/plugin/fullInventory">{{ 'full_inventory_menu' | translate:lang }}</a></li>
                <li><a routerLink="/plugin/carrierScac">{{ 'carrier_scac_mapping_menu' | translate:lang }}</a></li>
            </ul>
        </div>
    </nav>
</div>
