# people that approve documentation
*.md   @FelixEkwuemeC
/meta/ @FelixEkwuemeC

# the following users will be considered owners of ALL files and added as reviewers for ALL Pull Requests
* @jhoule86 @mcloughlin77 @jathmel @dFed17
