<div class="center-block">
  <div class="form-group-row text-center">
    <h3>{{ "inventory_status_heading" | translate: lang }}</h3>
    <p
      name="displayedState"
      class="{{ 'text-' + displayedState.style }}"
      style="font-weight: bold"
    >
      {{ displayedState.value }}
    </p>
  </div>

  <div class="form-group-row text-center">
    <p></p>>
   </div>
  <div *ngIf="statusObject" name="resultTable">
    <div
      class="form-group row"
      *ngFor="let key of objectKeysWrapper(statusObject.details)"
    >
      <div
        class="col-md-5 text-right"
        style="font-weight: bold"
        name="inventoryStatusLabel"
      >
        {{ "inventory_status_label_" + key | translate: lang }}:
      </div>
      <div class="col-md-2 text-center" name="statusIcons">
        <span *ngIf="shouldDisplayLoading()" name="syncLoading">
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-arrow-repeat"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"
            />
            <path
              fill-rule="evenodd"
              d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"
            />
          </svg>
        </span>
        <span *ngIf="shouldDisplayRunning(key)" name="syncRunning">
          <svg
            width="2em"
            height="2em"
            viewBox="0 0 16 16"
            class="bi bi-cloud-upload-fill"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0zm-.5 14.5V11h1v3.5a.5.5 0 0 1-1 0z"
            />
          </svg>
        </span>
        <span *ngIf="shouldDisplayErrorIcon(key)" name="syncAlert">
          <svg
            width="2em"
            height="2em"
            viewBox="0 0 16 16"
            class="bi bi-exclamation-triangle-fill"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 5zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
            ></path>
          </svg>
        </span>
        <span *ngIf="shouldDisplayClock(key)" name="syncSuccess">
          <svg
            width="2em"
            height="2em"
            viewBox="0 0 16 16"
            class="bi bi-clock-fill"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"
            />
          </svg>
        </span>
        <span *ngIf="shouldDisplayCheckmark(key)" name="syncSuccess">
          <svg
            width="2em"
            height="2em"
            viewBox="0 0 16 16"
            class="bi bi-cloud-check-fill"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 4.854a.5.5 0 0 0-.708-.708L7 8.793 5.854 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"
            />
          </svg>
        </span>
      </div>

      <div class="col-md-3" name="statusValue">
        <div *ngIf="!statusObject.details[key].attemptedStart">
          <span name="noSyncsAttempted" class="text-warning">{{
            "no_syncs_attempted" | translate: lang
          }}</span>
        </div>
        <div *ngIf="statusObject.details[key].attemptedStart">
          <span
            *ngIf="
              statusObject.details[key].attemptedStart &&
              !statusObject.details[key].completedStart
            "
            name="noGoodSyncs"
            class="text-danger"
            >{{ "no_syncs_completed" | translate: lang }}</span
          >
          <span
            *ngIf="
              statusObject.details[key].completedStart &&
              statusObject.details[key].completedAmount == 0
            "
            name="syncNotRequired"
            class="text-primary"
            >{{ "inventory_sync_not_required" | translate: lang }} &nbsp;
            {{ statusObject.details[key].completedStart }}</span
          >
          <span
            *ngIf="
              statusObject.details[key].completedStart &&
              statusObject.details[key].completedAmount > 0
            "
            name="syncHappened"
            class="text-"
            >{{ "last_sync" | translate: lang }} {{ "at" | translate: lang }}
            {{ statusObject.details[key].completedStart }}
            {{ "with" | translate: lang }}
            {{ statusObject.details[key].completedAmount }}
            {{ "products" | translate: lang }} &nbsp;
          </span>
        </div>
      </div>
    </div>
    <div class="form-group-row text-center" name="fetchTime">
      <p class="text-info">
        ({{ "page_refreshed" | translate: lang }}: {{ fetchTime }})
      </p>
    </div>
  </div>
  <div class="form-group row text-center mt-2" name="buttonContainer" hidden>
    <button
      class="btn btn-primary"
      id="refreshState"
      (click)="refreshState()"
      [disabled]="stateOfRefreshButton.disabled"
    >
      {{ stateOfRefreshButton.text | translate: lang }}
    </button>
  </div>
</div>
