<div class="text-center center-block">
  <span>{{ full_inventory_helper_text | translate: lang }}</span>
  <span>{{ partial_inventory_helper_text | translate: lang }}</span>

  <div class="form-group row">
    <label
      class="col-md-4 col-form-label col-md-offset-2"
      style="font-weight: bold;"
      for="successfulServiceCompletionTimestamp"
    >
      {{ "last_good_sync_time" | translate: lang }}:
    </label>
    <div class="col-md-4 col-md-offset-1">
      <span name="successfulServiceCompletionTimestamp">{{
        successfulServiceCompletionTimestamp
      }}</span>
    </div>
  </div>

  <div class="form-group row">
    <label
      class="col-md-4 col-form-label col-md-offset-2"
      style="font-weight: bold;"
      for="lastResult"
    >
      {{ "full_inventory_status" | translate: lang }}:</label
    >
    <div class="col-md-2">
      <span name="lastResult">{{ lastResult }}</span>
    </div>
    <div class="col-md-2">
      <span name="latestServiceAttemptTimestamp">{{
        latestServiceAttemptTimestamp
      }}</span>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4 col-md-offset-2">
      <button
        class="btn btn-primary"
        id="syncFullInventory"
        (click)="syncFullInventory()"
        [disabled]="stateOfSyncButton.disabled"
      >
        {{ stateOfSyncButton.text | translate: lang }}
      </button>
    </div>
    <div class="col-md-2">
      <button
        class="btn btn-secondary"
        id="refreshState"
        (click)="refreshState()"
        [disabled]="stateOfRefreshButton.disabled"
      >
        {{ stateOfRefreshButton.text | translate: lang }}
      </button>
    </div>
  </div>
</div>
