<div class="center-block">
  <div class="form-group row">
    <label
      class="col-md-5 col-form-label text-right"
      style="font-weight: bold;"
      for="successfulServiceCompletionTimestamp"
    >
      {{ "last_good_sync_time" | translate: lang }}:
    </label>
    <div class="col-md-2 text-center">
      <span *ngIf="!lastGoodSyncWithinWindow" name="lastCompletionAlert">
        <svg
          width="2em"
          height="2em"
          viewBox="0 0 16 16"
          class="bi bi-exclamation-triangle-fill"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 5zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
          ></path>
        </svg>
      </span>
      <span *ngIf="lastGoodSyncWithinWindow" name="lastCompletionGood">
        <svg
          width="2em"
          height="2em"
          viewBox="0 0 16 16"
          class="bi bi-cloud-check-fill"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 4.854a.5.5 0 0 0-.708-.708L7 8.793 5.854 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"
          />
        </svg>
      </span>
    </div>
    <div class="col-md-3">
      <span name="successfulServiceCompletionTimestamp">{{
        successfulServiceCompletionTimestamp
      }}</span>
    </div>
  </div>

  <div class="form-group row">
    <label
      class="col-md-5 col-form-label text-right"
      style="font-weight: bold;"
      for="lastResult"
    >
      {{ "full_inventory_status" | translate: lang }}:</label
    >
    <div class="col-md-2">
      <p
        name="lastResult"
        class="{{ 'text-center text-uppercase text-' + lastResult.type }}"
      >
        {{ lastResult.text }}
      </p>
    </div>
    <div class="col-md-3">
      <span name="latestInteractionTimestamp">{{
        latestInteractionTimestamp
      }}</span>
    </div>
  </div>

  <div class="form-group row text-center">
    <div class="col-md-4 col-md-offset-2">
      <button
        class="btn btn-primary"
        id="syncFullInventory"
        (click)="syncFullInventory()"
        [disabled]="stateOfSyncButton.disabled"
      >
        {{ stateOfSyncButton.text | translate: lang }}
      </button>
    </div>
    <div class="col-md-4">
      <button
        class="btn btn-default"
        id="refreshState"
        (click)="refreshState()"
        [disabled]="stateOfRefreshButton.disabled"
      >
        {{ stateOfRefreshButton.text | translate: lang }}
      </button>
    </div>
  </div>
  <br />
  <br />
  <div class="bg-info text-center">
    <h4>{{ "full_inventory_disclaimer_label" | translate: lang }}:</h4>
    <p style="white-space: pre-line;">
      {{ "full_inventory_disclaimer_text" | translate: lang }}
    </p>
  </div>
</div>
