<div class="text-center center-block">
    <div class="header" *ngIf="warehouseSuppliers.length > 0">
        <div class="col-md-5 col-md-offset-1">
            <label>{{ 'warehouse_title' | translate:lang }}</label>

        </div>
        <div class="col-md-5">
            <label>{{ 'supplier_title' | translate:lang }}</label>
        </div>
        <div class="col-md-1">
            <label>{{ 'action' | translate:lang }}</label> <br />
        </div>
    </div>
    <div class="form-row" *ngFor="let warehouseSupplier of warehouseSuppliers">
        <div class="form-group col-md-5 col-md-offset-1">
            <select class="form-control" (change)="clearMessage()" [(ngModel)]="warehouseSupplier.warehouseId">
                <option *ngFor="let warehouse of warehouses" [value]="warehouse.id">{{warehouse.name}}</option>
            </select>
        </div>
        <div class="form-group col-md-5">
            <input class="form-control" type="text" (change)="clearMessage()"
                [(ngModel)]="warehouseSupplier.supplierId" />
        </div>
        <div class="form-group col-md-1">
            <button class="btn btn-icon" (click)="removeMapping(warehouseSupplier)"><i class="fa fa-trash"></i></button>
        </div>
    </div>
    <br />
    <p *ngIf="status.value" class="{{status.type + ' col-md-12'}}">{{status.value}}</p>

    <br />
    <div>
        <button class="btn btn-primary" id="addMappingBtn"
            (click)="addMapping()">{{ 'add_mapping' | translate:lang }}</button>
        <button class="btn btn-success" id="saveMappingBtn" (click)="saveMappings()"> {{ 'save' | translate:lang }}
        </button>
    </div>
</div>
