<!-- <terra-breadcrumbs></terra-breadcrumbs> -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <menu></menu>
      <div id="page-body">
        <router-outlet></router-outlet>
      </div>
      <div id="page-footer">
        <div class="navbar">
          <div class="text-center">
            <a
              href="https://github.com/wayfair-contribs/plentymarkets-plugin/releases"
              target="_blank"
            >
              {{ "plugin_version" | translate: lang }}
            </a>
            <br />
            {{ "copyright_footer" | translate: lang }}
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
