<!-- <terra-breadcrumbs></terra-breadcrumbs> -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <menu></menu>
      <div id="page-body">
        <router-outlet></router-outlet>
      </div>
      <div id="page-footer">
        <nav class="navbar navbar-default">
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li>
                <a
                  class="nav-link"
                  href="{{ 'releasesUrl' | translate: lang }}"
                  target="_blank"
                >
                  {{ "plugin_version" | translate: lang }}
                  {{ "copyright_footer" | translate: lang }}
                </a>
              </li>
              <li>
                <a
                  class="nav-link"
                  href="{{ 'troubleshootingGuideUrl' | translate: lang }}"
                  target="_blank"
                  >{{ "troubleshootingGuideLabel" | translate: lang }}</a
                >
              </li>
              <li>
                <a
                  class="nav-link"
                  href="{{ 'issueReportUrl' | translate: lang }}"
                  target="_blank"
                  >{{ "issueReportLabel" | translate: lang }}</a
                >
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
