<div class="center-block">
  <div class="form-group-row text-center" name="welcomeMessage">
    <h2>
      {{ "welcomeMessage" | translate: lang }} Foo Bar
    </h2>
  </div>
  <div class="text-center" name="links">
    <a
      class="form-group-row"
      href="{{ 'gettingStartedUrl' | translate: lang }}"
      target="_blank"
      >{{ "gettingStartedLabel" | translate: lang }}</a
    >
    <div class="form-group-row"></div>
    <div class="form-group-row">
      {{ "clickTheHelpButton" | translate: lang }}
    </div>
  </div>
</div>
