name: Build UI

on:
  push:
    paths:
      - "angular/**"
      - "ui/**"
  workflow_dispatch:

jobs:
  build-ui-and-push-changes-if-possible:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: setup-node
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"

      - name: build-ui-with-npm
        working-directory: ./angular
        env:
          CI: true
        run: |
          npm install
          npm run build

      - name: check_for_changed_files
        run: echo "::set-output name=GIT_STATUS::$(git status -s)"

      - name: fail-out-if-protected-branch-needs-UI-generation
        if: (${{ steps.check_for_changed_files.outputs.GIT_STATUS }} != '' && (endsWith(github.ref, '/master') || endsWith(github.ref, '/main') || contains(github.ref, 'release-')))
        run: |
          echo "branch is protected - differences between Angular and UI must be resolved before pushing to a protected branch!"
          exit 1

      - name: push-ui-changes-if-present
        if: ${{ steps.check_for_changed_files.outputs.GIT_STATUS }} != ''
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add -A
          git commit -m "automated UI code generation via github action"
          git push
